.fa {
  font-size: 40px;
}

.fa-times {
  color: red;
}

.fa-check {
  color: green;
}

.logo h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
  color: #f0f4c3;
  text-shadow: 4px 4px #827717;
  text-align: center;
}
